{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
<style>
p {font-size:20px; text-align:justify; line-height:35px}
</style>

    <h3>
        Instrucciones: Cálculo del puntaje obtenido en cada Ronda
    </h3>


    <p>
        El puntaje obtenido por pada jugador en cada ronda será de la siguiente manera:
</p>
        <p>
        <ul>
             <li>Se registrará en el sistema la cantidad de extracción individual (Xi) realizada.</li>
           <li>El sistema registrará la cantidad total de extracción de los otros miembros del grupo (Zj).</li>
            <li>Con los niveles de extracción Xi y Zj el sistema calcula el puntaje obtenido en la ronda:
            <ul>
            <li>Si en la ronda el stock del recurso es ALTO, se utilizará la tabla de puntajes verde: https://bit.ly/32GNY8B</li>
            <li>Si en la ronda el stock del recurso es BAJO, se utilizará la tabla de puntajes roja: https://bit.ly/3ExXmJ2</li>
            </li> </ul>
            </ul>

        <p>Efectos en la ronda siguiente:</p>
        <ul>
  <li> Si la cantidad total de extracción del grupo es  <b>≤ 20 </b>, para la siguiente ronda el stock
      del recurso será <b>ALTO</b> .</li>
   <li>   Si la cantidad total de extracción del grupo es  <b>>20</b> , para la siguiente ronda el stock del
       recurso será <b>BAJO</b>. </li>

        </ul>
    </p>


    </div>

</div>

  {% next_button %}

{% endblock %}
