{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Consentimiento Informado
{% endblock %}

{% block content %}
<style>
p {font-size:20px; text-align:justify; line-height:35px}
</style>


<br>


<b>INFORMACIÓN GENERAL</b>

<p>
Esta ficha de consentimiento tiene como finalidad proveer al participante una clara explicación
    de  la naturaleza de esta investigación, así como del rol que cumplirá dentro de la misma.

</p>

<b>EQUIPO</b>

<p>
La presente investigación experimental es llevada a cabo por Carlos Soncco Mamani, alumno del
    Programa de Doctorado en Economía en la Pontificia Universidad Católica del Perú como parte
    de  su tesis de Doctorado. El tesista en mención está siendo asesorado por el profesor
    José Carlos Silva  Macher.
</p>

<b>OBJETO</b>
<p>
La investigación evalúa la efectividad de tres tipos de arreglos institucionales para regular el uso y
    manejo de los recursos pesqueros sobre las decisiones de extracción de agentes económicos
    (estudiantes o pescadores artesanales).
</p>

<b>PROCEDIMIENTO</b>
<p>

Si usted accede a participar en el presente estudio piloto, se le pedirá realizar una tarea  experimental
    que requerirá el uso de habilidades cognitivas, así como el completar una serie de  preguntas demográficas
    al final de esta. La prueba en su totalidad tendrá una duración máxima de  90 minutos aproximadamente.
    Por su participación, recibirá una compensación monetaria luego de  finalizar la sesión.
</p>

<b>PARTICIPANTES</b>
<p>
Usted está participando porque se inscribió voluntariamente en la base de datos del LEEX-PUCP,
    califica para este estudio y aceptó la invitación puntual para esta sesión. Su participación es
    voluntaria y puede retirarse del experimento en cualquier momento. Si acepta las condiciones de
    este formulario de consentimiento informado, recibirá instrucciones detalladas y precisas que
    describen cómo los pagos dependen de su desempeño durante la prueba.
</p>

<b>COSTO Y RIESGO</b>

<p>
No hay ningún costo por participar en el experimento. Además, el riesgo es mínimo. En otras  palabras,
    el riesgo no es mayor que participar en cualquier actividad de la vida diaria.
</p>

<b>COMPENSACIÓN Y BENEFICIO</b>
<p>
Si decide retirarse después de recibir las instrucciones, o no podemos contar con usted en la sesión por algún motivo,
    tendrá el derecho a un pago de S/ 3.00 por presentarse a la sesión a tiempo y no tendrá alguna obligación adicional con nosotros.
 </p>
  <p>Si decide retirarse después de recibir las instrucciones, o no podemos contar con usted en la sesión
      por algún motivo, tendrá el derecho a un pago de S/ 3.00 por presentarse a la sesión a tiempo y no  tendrá alguna obligación adicional con nosotros.  </p>

<p>
Si decide quedarse y participar en la prueba, además de recibir un pago de S/ 3.00 por participación los dos
estudiantes que alcancen el más alto rendimiento en la prueba experimental recibirán un pago de S/50.00.
Así pues, las ganancias finales de cada participante  serán  S/ 3.00 o S/53.00, según su desempeño.
</p>

<p>
Al final de la sesión, el o la participante será informado sobre su desempeño en el experimento y el
    pago que les corresponde basado en dicho desempeño. Se le proporcionará un formulario en  Google Forms
    al final del experimento. El cual usted llenará con la etiqueta única que se le  proporcionó al inicio
    de la sesión y se le pedirá que elija el método de pago de su preferencia. El  pago los realizará el
    Laboratorio en la brevedad posible a través de distintos medios de pago, incluyendo Yape (BCP), Plin
    (Interbank, BBVA, Scotiabank),transferencia interbancaria, cuenta bancaria o  cuenta interbancaria (CCI).
</p>


<b>CONFIDENCIALIDAD</b>
<p>
La interacción durante toda la sesión experimental se realiza de manera virtual, y su identidad como
    participante no será revelada a otros participantes, al investigador ni a terceros. No hay ningún
    registro público que conecte su identidad o datos personales
    como participante con los datos de las  decisiones recogidas en el experimento.
</p>

<p>Los datos obtenidos serán tratados bajo la confidencialidad del caso pues estos serán organizados
    con una etiqueta de registro única asignada a cada participante (entiéndase por etiqueta una  combinación
    aleatoria y única compuesta por letras y/o números). Esta etiqueta también servirá  como identificador único
    para asignar los pagos correspondientes luego de finalizar la sesión. </p>
<p>
 Los datos recopilados serán almacenados de manera confidencial, privada, bajo encriptación de  clave privada
    (de manera que solo las partes involucradas en la investigación tengan acceso a ellos)
    y solo serán compartidos de esta forma para los fines y propósitos de la presente investigación.

</p>

<p>
Los datos generados a partir de sus decisiones durante el experimento serán evaluados  científicamente por
    el investigador y utilizados en la producción de su tesis de licenciatura. Estos en  ningún caso se
    utilizarán de tal forma que permitan asociarlos con su identidad. Finalizado el  experimento y recopilada
    la información generada por usted se procederá a almacenar la  información por 3 años posteriores a la
    publicación de la tesis de licenciatura del investigador. Luego, se realizará la eliminación total
    y segura de todos los datos almacenados.
</p>


<b>PRODUCTO</b>
<p>
El principal producto de esta investigación será validad el diseño experimental el cual será el cual
    será implementado en experimentos de campo durante el desarrollo la realización de la tesis de
    doctorado del investigador. Por lo que es posible que también se realicen presentaciones de esta
    en seminarios y congresos científicos y/o publicaciones parciales o totales de los hallazgos en
    medios especializados.
    </p>
<p>
Una vez que la tesis de doctorado esté publicada en el Repositorio Digital de Tesis y Trabajos de
    Investigación PUCP, se le enviará el link correspondiente de acceso a esta mediante el correo que
    usted registró en la base de datos de LEEX para participar en el presente experimento. De igual
    manera, si en algún momento usted desea acceder a la mencionada tesis, puede escribir un correo
    electrónico a la siguiente dirección de email: carlos.soncco@pucp.edu.pe, solicitándola al tesista.


</p>



<b>CONTACTO</b>
<p>
Si usted tiene alguna consulta sobre este proyecto o quisiera obtener información adicional, puede
    escribirle al tesista, Carlos Soncco Mamani, un correo electrónico a la siguiente dirección de email:
    carlos.soncco@pucp.edu.pe.
</p>
<p>
Si tiene alguna consulta sobre los componentes éticos de esta investigación, puede escribir
    un  correo electrónico al Comité de Ética de la Investigación: etica.investigacion@pucp.edu.pe.

</p>

<b>CONSENTIMIENTO</b>
<br>
<p>
  He leído TODO el consentimiento informado y acepto participar en esta investigación.
  </p>
{% formfield player.acepta label=""%}

<p><br></p>
{% next_button %}
{% endblock %}
