{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
<style>
p {font-size:20px; text-align:justify; line-height:35px}
</style>

    <h3>
        Bienes Públicos
    </h3>

    <p>
        En este estudio, formará un grupo junto a otros 3 participantes. Ustedes extraerán
        el recurso pesquero siguiendo las siguientes reglas: </p>
        <ul>
             <li>Cada jugador puede extraer del recurso pesquero entre 1 (mínimo) a 10 (máximo) unidades. </li>
           <li>No hay comunicación entre jugadores.</li>
            <li>No hay ninguna regulación para la pesca.</li>
            <li>Finalmente, cada jugador toma su decisión de manera privada y confidencial. </li>

        </ul>


    </p>

    </div>

</div>

  {% next_button %}

{% endblock %}
